In [1]:
%ls

AdHoc code challenge.ipynb  package.json
COMMENTS.md                 plans.csv
get-pip.py                  script.js
instructions.md             silverPlans.js
node_modules/               slcsp.csv
output.csv                  test.csv
package-lock.json           zips.csv

In [5]:
import pandas as pd

In [9]:
plans = pd.read_csv('plans.csv')

In [10]:
plans.head()

          plan_id state metal_level    rate  rate_area
0  74449NR9870320    GA      Silver  298.62          7
1  26325VH2723968    FL      Silver  421.43         60
2  09846WB8636633    IL        Gold  361.69          5
3  78590JQ3204809    SC        Gold  379.97          2
4  21163YD2193896    AR        Gold  359.75          2

In [26]:
silverPlans = plans.loc[plans['metal_level'] == 'Silver'].head()

In [11]:
zips = pd.read_csv('zips.csv')

In [12]:
zips.head()

   zipcode state  county_code     name  rate_area
0    36749    AL         1001  Autauga         11
1    36703    AL         1001  Autauga         11
2    36003    AL         1001  Autauga         11
3    36008    AL         1001  Autauga         11
4    36006    AL         1001  Autauga         11

In [13]:
zipcode = pd.read_csv('slcsp.csv')

In [14]:
zipcode.head()

   zipcode  rate
0    64148   NaN
1    67118   NaN
2    40813   NaN
3    18229   NaN
4    51012   NaN

In [16]:
zipcode.join(zips, how='left', lsuffix='', rsuffix='', sort=False)

ValueError: columns overlap but no suffix specified: Index([u'zipcode'], dtype='object')